.lemma-box {
  position: relative;
  border: 1.5px solid #000;
  padding: 1.6em 1.2em 1.2em;
  margin: 2em 0;
  background: #fff;
}

.lemma-box .lemma-title {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0.25em 0.6em;
  font-weight: 600;
  font-size: 0.95em;
  margin-bottom: 0.8em;
}

.lemma-box p {
  margin: 0.6em 0;
}

.lemma-box .qed {
  float: right;
  font-size: 1.05em;
}
