---
---

@import "minima";

/* =========================
   Lemma box (statement only)
   ========================= */

.lemma-box {
  border: 1.5px solid #000;
  padding: 1.2em 1.2em;
  margin: 2em 0 1em 0;
  background: #fff;
  color: #000;
  font-style: normal;
}

/* Make sure Minima doesn't gray it out */
.lemma-box p,
.lemma-box li {
  color: #000;
  font-style: normal;
}

.lemma-box em {
  font-style: italic;
}


.aside {
  margin-left: 2.5em;
  margin-right: 0;
  font-style: italic;
  color: #000;
}

body {
  font-family: "Crimson Pro", "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.6;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  line-height: 1.3;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.6em;
}




.share-bar {
  margin-top: 3em;
  padding-top: 1em;
  border-top: 1px solid #ddd;
  text-align: center;
}

.share-bar a {
  display: inline-block;
  margin: 0 0.6em;
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
  font-size: 0.85em;
  color: #666;
  text-decoration: none;
}

.share-bar a:hover {
  color: #000;
}

