@import "minima";

.lemma-box {
  border: 1.5px solid #000;
  padding: 1em 1.2em;
  margin: 1.5em 0;
  border-radius: 2px;
}

.lemma-title {
  font-weight: 600;
  margin-bottom: 0.5em;
}

.proof {
  margin-top: 1em;
}

.qed {
  text-align: right;
  font-size: 1.1em;
  margin-top: 0.5em;
}