.lemma-box {
  font-style: normal;
  color: #000;
}

.lemma-box p,
.lemma-box li {
  font-style: normal;
  color: #000;
}

.lemma-box em {
  font-style: italic; /* only actual emphasis stays italic */
}

.lemma-box .lemma-title {
  font-style: normal;
  color: #fff;
}
