---
---

@import "minima";

/* --- Lemma/Theorem boxes --- */
.lemma-box {
  border: 1.5px solid #000;
  padding: 1.4em 1.2em 1.2em;
  margin: 1.8em 0;
  background: #fff;
  color: #000;
  font-style: normal;
}

.lemma-box p,
.lemma-box li {
  color: #000;
  font-style: normal;
}

.lemma-box em {
  font-style: italic;
}

/* black label */
.lemma-box .lemma-title {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0.25em 0.6em;
  margin-bottom: 0.8em;
  font-weight: 600;
  font-style: normal;
}

/* Proof heading */
.lemma-box .proof-title {
  font-weight: 600;
  margin-top: 1em;
}

/* QED */
.lemma-box .qed {
  float: right;
  font-size: 1.05em;
}
