@import "minima";

blockquote.lemma-box {
  border: 1.5px solid #000;
  padding: 1em 1.2em;
  margin: 1.5em 0;
  border-radius: 2px;
  background: #fff;
}

blockquote.lemma-box p { margin: 0.6em 0; }

blockquote.lemma-box .qed {
  float: right;
  font-size: 1.1em;
  margin-top: 0.5em;
}
