---
---

@import "minima";

/* =========================
   Lemma box (statement only)
   ========================= */

.lemma-box {
  border: 1.5px solid #000;
  padding: 1.2em 1.2em;
  margin: 2em 0 1em 0;
  background: #fff;
  color: #000;
  font-style: normal;
}

/* Make sure Minima doesn't gray it out */
.lemma-box p,
.lemma-box li {
  color: #000;
  font-style: normal;
}

.lemma-box em {
  font-style: italic;
}
